.form__box {
    display: flex;
    width: 567px;
    margin: auto;
    gap: 12px;
}

.circles__box {
    display: flex;
    justify-self: center;
    margin: auto;
    margin-top: 48px;
    gap: 12px;
    width: 944px;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 78px;
}

.circles__box_big {
    composes: circles__box;
    justify-content: flex-start;
}
